body {
    background: linear-gradient(to bottom, #00009e, #000000);
    height: 700vh;
}
.header{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 100px; 
}
.nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0px 70px 0px 70px;
    background-color: black;
    width: 60%; 
    height: 100px;
    min-width: 500px;
    border-radius:0px 0px 50px 50px;
}

.nav button {
    flex: 1;
    color: #ffffff;
    height: 100%; 
    overflow: hidden;
}
@media (max-width: 800px) { 
    .nav {
        background-color: black;
        width: 100%; 
    }
}
@media (max-width: 570px) { 
    .header {
        background-color: black;
        width: 100%; 
        border-radius: 0px ;
        bottom: 0;
    }
    .buttonAccount {
        position: fixed;
        top: 0;
        left: 0;
    }
}
.buttonAccount {
    display: flex;
    align-items: center;
}
.account{
    width: 80px;
    height: 80px;
}
